@use '../styles/mixin' as style;

.header {
  padding: 23px 0;
  &__title {
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 50px;
    @include style.rwd-animation();
  }
}

@media screen and (min-width: 750px) {
  .header {
    &__title {
      font-size: 2.5rem;
    }
  }
}
