@use '../styles/mixin' as style;

.photos {
  position: relative;
  width: 100%;
  padding: 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll__container {
  width: max-content;
  display: flex;
  position: relative;
  transition: all 0.3s ease-out;
}

.container {
  position: sticky;
  top: 0;
  margin: 0 10px;
  width: 30vw;
  max-width: 400px;
  height: min-content;
  flex-shrink: 0;
  overflow: hidden;
  @include style.rwd-animation;

  img {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .container {
    margin: 0 30px;
  }
}
