.photos {
  width: max-content;
  margin: 0 10px;
  overflow: hidden;
}

.scroll__container {
  display: flex;
  position: relative;
  transition: all 0.3s ease-in;
}

.container {
  margin: 0 30px;
  width: 400px;
  height: 800px;
  flex-shrink: 0;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }
}
