@use '../styles/mixin' as style;

$cards-position-top-mobile: 200px;
$cards-position-top-desktop: 223px;
$discription-mt-mb-mobile: 155px;
$discription-mt-mb-desktop: 355px;

.headerDisplay {
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;

  &__hidden {
    @extend .headerDisplay;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
}

.description1 {
  width: 50vw;
  margin: $discription-mt-mb-mobile auto;
  margin-top: calc($discription-mt-mb-mobile + $cards-position-top-mobile);
  word-wrap: break-word;
  text-align: center;
  @include style.rwd-animation;

  p {
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
  }
}

.description2 {
  @extend .description1;
  margin-top: $discription-mt-mb-mobile;
  @include style.rwd-animation;
}

.cards {
  width: 70%;
  max-width: 1000px;
  height: 40vw;
  max-height: 580px;
  margin: 0 auto;
  position: relative;
  top: $cards-position-top-mobile;
}

@media screen and (min-width: 750px) {
  .description1 {
    margin: $discription-mt-mb-desktop auto;
    margin-top: calc($discription-mt-mb-desktop + $cards-position-top-desktop);

    p {
      font-size: 2rem;
      font-weight: 700;
      line-height: 40px;
    }
  }
  .description2 {
    margin-top: $discription-mt-mb-desktop;
  }
  .cards {
    top: $cards-position-top-desktop;
  }
}
